# Data Input and Output

In [2]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [4]:
df = pd.read_csv('sample_data/california_housing_test.csv')
df

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
5       -119.56     36.51  ...         1.6635             67000.0
6       -121.43     38.63  ...         1.6641             67000.0
7       -120.65     35.48  ...         3.2250            166900.0
8       -122.84     38.40  ...         3.6696            194400.0
9       -118.02     34.08  ...         2.3333            164200.0
10      -118.24     33.98  ...         2.2054            125000.0
11      -119.12     35.85  ...         2.4167             58300.0
12      -121.93     37.25  ...         4.6900            252600.0
13      -117.03     32.97  ...         4.5625            231200.0
14      -117.97     33.73  ...         5.7121            222500.0
15      -117.99     33.81  ...         2.2000            153100.0
16      -120.81     37.53  ...         1.8750            181300.0
17      -121.20     38.69  ...         2.7174            137500.0
18      -118.88     34.21  ...         6.5851            300000.0
19      -122.59     38.01  ...         6.1724            414300.0
20      -122.15     37.75  ...         3.8913            126300.0
21      -121.37     38.68  ...         3.1786             83400.0
22      -118.16     34.07  ...         3.8644            241500.0
23      -122.20     37.79  ...         2.7788            115400.0
24      -117.28     33.28  ...         3.8156            150700.0
25      -118.03     34.16  ...         7.1615            484700.0
26      -122.42     37.76  ...         2.5403            250000.0
27      -118.39     33.99  ...         6.6030            369200.0
28      -118.45     34.07  ...         1.5830            350000.0
29      -118.48     34.01  ...         3.4852            425000.0
...         ...       ...  ...            ...                 ...
2970    -122.47     37.77  ...         4.1635            398400.0
2971    -120.93     35.76  ...         3.2300            154300.0
2972    -118.14     34.17  ...         4.0524            173100.0
2973    -122.73     38.46  ...         2.0651            135400.0
2974    -117.06     32.76  ...         2.9650            155700.0
2975    -120.71     35.50  ...         5.2508            292900.0
2976    -118.31     34.05  ...         2.5313            305800.0
2977    -119.70     36.75  ...         2.4956             87500.0
2978    -121.34     38.64  ...         3.7562            139700.0
2979    -117.91     34.09  ...         3.0441            185400.0
2980    -119.76     36.79  ...         3.3281             75100.0
2981    -120.66     35.49  ...         2.8285            171300.0
2982    -118.28     34.08  ...         3.1607            182000.0
2983    -122.54     37.90  ...         4.4375            370000.0
2984    -117.59     33.88  ...         2.6111            107000.0
2985    -120.47     34.94  ...         1.8633            109400.0
2986    -118.25     33.93  ...         1.1346             85400.0
2987    -121.97     37.29  ...         5.3294            300300.0
2988    -122.01     36.97  ...         2.5417            260900.0
2989    -122.02     37.60  ...         3.2386            149600.0
2990    -118.23     34.09  ...         2.6923            150000.0
2991    -117.17     34.28  ...         7.1997            253800.0
2992    -122.33     37.39  ...         6.2263            500001.0
2993    -117.91     33.60  ...         5.1048            500001.0
2994    -117.93     33.86  ...         5.5867            182500.0
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

### CSV Output

In [1]:
df.to_csv('example.csv',index=False)

NameError: name 'df' is not defined

In [2]:
pip install xlrd --user

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
     |████████████████████████████████| 112kB 7.4MB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0
WARNING: You are using pip version 19.3.1; however, version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [0]:
pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Excel Output

In [0]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [3]:
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [7]:
df[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
1,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
2,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
3,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019"
4,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017"
...,...,...,...,...,...,...
554,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
555,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
556,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
557,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
558,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

____

_____
_____
# SQL (Optional)

* Note: If you are completely unfamiliar with SQL you can check out my other course: "Complete SQL Bootcamp" to learn SQL.

The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Python’s standard library by default. You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.


If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.

In [0]:
from sqlalchemy import create_engine

In [0]:
engine = create_engine('sqlite:///:memory:')

In [0]:
df[0].to_sql('data', engine)

In [0]:
sql_df = pd.read_sql('data',con=engine)

In [0]:
sql_df

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15

# Great Job!